{% extends 'all_photos/base.html' %}
{% block content %}
<div id="hello">
<h1 class="text-center" id="welcome">WELCOME TO MY GALLERY WEBSITE</h1>
<div class="container">

    <div class="card-columns">
        {% for image in images %}
        <div class="card" style="width: 23rem;" data-toggle="modal" data-target="#{{image.id}}">
            <img src="{{image.my_image.url}}" height="300vh" class="card-img-top" alt="...">
        </div>
        <div class="modal fade " id="{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                <div class="modal-content modalcard">
                    <div class="modal-header">
                        <h5 class="modal-title" id="imageheader">{{image.name}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="{{image.my_image.url}}" alt="..." class="img-fluid">
                        <p class="imgdesc text-center">{{image.image_description}}</p>
                        {% for category in image.categories.all %}
                        <span class="btn btn-sm btn-outline-info">{{image.category}}</span>
                        {% endfor %}
                        <a href="/location/{{image.location}}"
                            class="btn btn-sm btn-outline-info">{{image.location}}</a>
                            <p>Copy image link:</p>

                    </div>
                    <div class="modal-footer">
                        <input class="form-control input-lg" type="text" value="{{image.my_image.url}}"
                            id="{{image.id}}.url">
                        <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            function copyToClipboard(element) {
                var myVar = document.getElementById(element);
                myVar.select();
                document.execCommand("copy");
            }
        </script>


        {% endfor %}
    </div>


</div>
</div>
{% endblock %}